 .attribution {
     font-size: 0.6875rem;
     text-align: center;
 }

 .attribution a {
     color: hsl(228, 45%, 44%);
 }

 body {
     display: grid;
     min-height: 100vh;
     justify-content: center;
     align-items: center;
     background-color: hsl(217, 54%, 11%);
     gap: 70px;
 }

 .main {
    margin-top: 50px;
     background-color: hsl(216, 50%, 16%);
     place-items: center;
     color: rgb(255, 255, 255);
     font-family: "Outfit", sans-serif;
         font-style: normal;
     border-radius: 10px;
     overflow: hidden;
 }

 .equilibrium {
     max-width: 250px;
     padding: 20px 20px;
     border-radius: 30px;
 }

 .transparent {
    color: rgb(255, 255, 255, 0.5)
 }