 .attribution {
    font-size: 0.6875rem;
    text-align: center;
 }

 .attribution a {
    color: hsl(228, 45%, 44%);
 }

 body {
    display: grid;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 54%, 11%);
    gap: 70px;
 }

 .main {
    margin-top: 50px;
    background-color: hsl(216, 50%, 16%);
    color: rgb(255, 255, 255);
    font-family: "Outfit", sans-serif;
    font-style: normal;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    width: 300px;
 }

 .equilibrium {
    width: 100%;
    display: block;
    /* border-radius: 10px; */
 }

 h3 {
    margin: 0px;
 }

 .transparent {
    color: rgb(255, 255, 255, 0.5)
 }

 footer {
    color: white;
 }

 .eth {
     display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 20px 0;
 }

 .zerofourone {
    color: hsl(178, 100%, 50%);
    display: flex;
    gap: 10px;
    font-weight: 500;
 }

 .texts {
    font-size: 15px;
    width: 100%;
 }

 .avatar {
    width: 25px;
    border: 1px solid white;
    border-radius: 50%;
 }

 .creation {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding-top: 10px;
    font-size: 13px;
 }

 hr {
    border: none;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
 }

 .jules {
    background: none;
    border: none;
    color: rgb(255, 255, 255, 0.5);
    padding: 0px;
    cursor: pointer;
 }

 .jules:hover {
    color: hsl(178, 100%, 50%);
 }

 .equitext {
    border: none;
    background: none;
    color: white;
    font-size: larger;
    font-weight: 700;
    margin-bottom: 20px;
    padding-left: 0;
    cursor: pointer;
    margin-top: 20px;
 }

 .equitext:hover {
    color: hsl(178, 100%, 50%);
 }

 .image-container {
     position: relative;
   width: 100%;
   border-radius: 10px;
   overflow: hidden;
   cursor: pointer;
 }

 .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 255, 247, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s ease;
    /* border-radius: 10px; */
 }

 .image-container:hover .overlay {
    opacity: 1;
 }

 